/* Top bar */

.topBar {
  background-color: #292A2C;
  height: 44px;
  color: #D3DADC;
  padding: 13px 20px 13px 96px;
  font-size: 15px;
}

.topBarList {
  list-style: none outside;
}

.topBarLi {
  border-left: 1px black solid;  display: inline-block;
  box-shadow: -0.5px 0 0 rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  position: relative;
  bottom: 14px;
}

.topBarSocialsList {
  list-style: none outside;
  border-left: 1px black solid;
  box-shadow: -0.5px 0 0 rgba(225, 225, 225, 0.2);
  position: relative;
  left: 344px;
  bottom: 74px;
}

.topBarSocialsLi {
  display: inline-block;
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  position: relative;
  right: 32px;
}

.fa {
  color: gray;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover {
  color: white;
  text-decoration: none;
}

.fa-calendar, .fa-phone {
  padding-right: 10px;
}

/* LogoLinks Logo */

#legacyLogo {
  max-height: 10vh;
  max-width: 12vw;
  margin-top: 10px;
  padding-left: 5em;
}

/* LogoLinks Links */

.linksList {
  display: table;
  padding-left: 21em;
  margin: 0;
}

.linksLi {
  display: table-cell;
  vertical-align: middle;
  height: 110px;
  width: 50px;
  color: #C2C2C2;
  border-left: 1px rgba(128, 128, 128, 0.2) solid;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

.linksLi:hover {
  background-color: #A72328;
  color: white;
}

.linksLiLast {
  border-right: 1px rgba(128, 128, 128, 0.2) solid;
}
/* Carousel */
.carousel {
  max-height: 322.69px;
  max-width: 1040px;
  margin: 0 auto;
}
/* MainContent */

.mainContent {
  background-color: #E4E8EE;
}

.colH1 {
  font-size: 16px;
  background-color: #262729;
  color: white;
  padding: 16px 0 0 0;
  height: 52px;
}
.colHeader {
  background-color: #262729;
  border-left: 4px #A72328 solid;
  max-height: 54px;
}

.colBtns {
  margin: 8px 0 6px 0;
  padding: 6px;
  color: gray;
  background-color: #ffffff14;
  color: white;
  border-radius: 3px;
  float: right;
}

.colBtns:hover {
  background-color: #A72328;
  color: white;
}

.mainCols {
  padding: 0 24px 0 24px
}