body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Top bar */

.topBar {
  background-color: #292A2C;
  height: 44px;
  color: #D3DADC;
  padding: 13px 20px 13px 48px;
  font-size: 15px;
}

.topBarList {
  list-style: none outside;
}

.topBarLi {
  border-left: 2px black solid;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  position: relative;
  bottom: 14px;
}

.topBarSocialsList {
  list-style: none outside;
  border-left: 2px black solid;
  position: relative;
  left: 344px;
  bottom: 74px;
}

.topBarSocialsLi {
  display: inline-block;
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  position: relative;
  right: 32px;
}

.fa {
  color: gray;
}

.fa:hover {
  color: white;
  text-decoration: none;
}

.fa-calendar, .fa-phone {
  padding-right: 10px;
}

/* LogoLinks Logo */

#legacyLogo {
  max-height: 12vh;
  max-width: 12vw;
  margin-top: 20px;
  position: relative;
  bottom: 76px;
}

/* LogoLinks Links */

.linksDiv {
  display: inline-block;
}
.linksList {
  display: table;
  padding-left: 22em;
}

.linksLi {
  display: table-cell;
  vertical-align: middle;
  height: 110px;
  width: 50px;
  color: #C2C2C2;
  border-left: 2px rgba(128, 128, 128, 0.513) solid;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

.linksLi:hover {
  background-color: #A72328;
  color: white;
}

.linksLiLast {
  border-right: 2px rgba(128, 128, 128, 0.513) solid;
}