/* Top bar */
body {
  font-family: archivo narrow;
}


.navbar {
  background-color: #292A2C;
}

.fa-instagram, .fa-facebook, .fa-twitter {
  color: gray;
  padding: 0 5px;
  margin-right: 25px;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-calendar:hover {
  color: white;
  text-decoration: none;
}

.fa-calendar, .fa-phone {
  margin-top: 11px;
  padding: 0 2px 0 8px;
  color: gray;
}

@media only screen and (max-width: 991px) {
  .fa-phone, .fa-calendar {
    display: none;
  }
}


/* LogoLinks Logo */

#legacyLogo {
  max-height: 166px;
  max-width: 166px;
  margin-top: 10px;
  padding-left: 5em;
}

/* LogoLinks Links */

.linksList {
  display: table;
  padding-left: 21em;
  margin: 0;
}

.linksLi {
  display: table-cell;
  vertical-align: middle;
  height: 110px;
  width: 50px;
  color: #C2C2C2;
  border-left: 1px rgba(128, 128, 128, 0.2) solid;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  padding: 20px;
}

.linksLi:hover {
  background-color: #A72328;
  color: white;
}

.linksLiLast {
  border-right: 1px rgba(128, 128, 128, 0.2) solid;
}
/* Carousel */
.carousel {
  max-height: 322.69px;
  max-width: 1040px;
  margin: 0 auto;
}
/* MainContent */

.mainContent {
  background-color: #E4E8EE;
}

.colH1 {
  font-size: 16px;
  background-color: #262729;
  color: white;
  padding: 16px 0 0 0;
  height: 52px;
}
.colHeader {
  background-color: #262729;
  border-left: 4px #A72328 solid;
  max-height: 54px;
  width: 300px;
}

.colBtns {
  margin: 8px 0 6px 0;
  padding: 6px;
  color: gray;
  background-color: #ffffff14;
  color: white;
  border-radius: 3px;
  float: right;
}

.colBtns:hover {
  background-color: #A72328;
  color: white;
}


/* ClassCol, InstructorCol, NewsCol */

.colSection {
  width: 300px;
  background-color: white;
  margin: 10px;
}

.colPic {
  width: 278px;
  height: 155px;
  border-bottom: 4px solid #A72328 ;
}