/* Top bar */
body {
  font-family: archivo narrow;
}


.navbar {
  background-color: #292A2C;
}

.fa-instagram, .fa-facebook, .fa-twitter {
  color: gray;
  padding: 0 5px;
  margin-right: 25px;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-calendar:hover {
  color: white;
  text-decoration: none;
}

.fa-calendar, .fa-phone {
  margin-top: 11px;
  padding: 0 2px 0 8px;
  color: gray;
}

@media only screen and (max-width: 991px) {
  .fa-phone, .fa-calendar {
    display: none;
  }
}


/* LogoLinks Logo */

#legacyLogo {
  max-height: 166px;
  max-width: 166px;
  margin-top: 10px;
  padding-left: 5em;
}

/* LogoLinks Links */

.linksList {
  display: table;
  padding-left: 21em;
  margin: 0;
}

.linksLi {
  display: table-cell;
  vertical-align: middle;
  height: 110px;
  width: 50px;
  color: #C2C2C2;
  border-left: 1px rgba(128, 128, 128, 0.2) solid;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  padding: 20px;
}

.linksLi:hover {
  background-color: #A72328;
  color: white;
}

.linksLiLast {
  border-right: 1px rgba(128, 128, 128, 0.2) solid;
}
/* Carousel */
.carousel {
  max-height: 322.69px;
  max-width: 1040px;
  margin: 0 auto;
}
/* MainContent */

.mainContent {
  background-color: #E4E8EE;
}

.colH1 {
  font-size: 16px;
  background-color: #262729;
  color: white;
  padding: 16px 0 0 0;
  height: 52px;
}
.colHeader {
  background-color: #262729;
  border-left: 4px #A72328 solid;
  max-height: 54px;
  width: 300px;
}

.colBtns {
  margin: 8px 0 6px 0;
  padding: 6px;
  color: gray;
  background-color: #ffffff14;
  color: white;
  border-radius: 3px;
  float: right;
}

.colBtns:hover {
  background-color: #A72328;
  color: white;
}


/* ClassCol, InstructorCol, NewsCol */

/* TODO: Rework Col classes to share as much in a single class */

.colPic {
  max-width: 280px;
  width: 280px;
  height: 155px;
  margin-top: 10px;
  border-bottom: 4px solid #A72328;
  position: relative;
  right: 5px;
}

.classColSection {
  width: 300px;
  background-color: white;
  margin: 10px;
}

.classColH1 {
  font-size: 16px;
  margin: 20px 6px 10px 6px;
  padding: 0 0 10px 0;
  color: #212521;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.classColP {
  font-size: 16px;
  margin: 10px 6px 10px 6px;
  color: #828282;
}

.classColBtn {
  background-color: #A72328;
  color: white;
  font-size: 11px;
  padding: 0 0 1px 0px;
  border-radius: 4px;
  height: 33px;
  width: 71px;
  border: none;
  margin: 0 6px 14px 6px;
}

.instructorColSection {
  width: 300px;
  margin: 10px;
  background-color: #262729;
}

.instructorColH1 {
  font-size: 16px;
  margin: 20px 6px 10px 6px;
  padding: 0 0 10px 0;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.instructorColP {
  font-size: 16px;
  margin: 10px 6px 10px 6px;
  color: #828282;
}

.instructorColBtn {
  background-color: #A72328;
  color: white;
  font-size: 11px;
  padding: 0 0 1px 0px;
  border-radius: 4px;
  height: 33px;
  width: 71px;
  border: none;
  margin: 0 6px 14px 6px;
}

.footerColSection {
  width: 300px;
  margin: 10px;
  border-left: 6px #A72328 solid;
  background-color: #A72328;
}

.footerColH1 {
  font-size: 21px;
  margin: 40px 0 0 24px;
  padding: 0 0 10px 0;
  color: white;
}

.footerColH2 {
  font-size: 16px;
  margin: 10px 6px 10px 6px;
  color: white;
}

.footerLocation {
  margin: 8px 0 6px 0;
  padding: 6px;
  color: white;
  border-radius: 3px;
  float: right;
}

.locationSection {
  background: #151617;
}
.locationSectionMid {
  background: #303234;
}

/* TODO: fix background photo or background */

.footerBackground {
  background-image: url(./img/footer-pic.png);
  background-repeat: no-repeat;
  height: 533px;
  width: 100%;
}

@media only screen and (max-width: 1920px) {
  .footerBackground {
    background-image: url(./img/footer-pic2.png);
    background-repeat: no-repeat;
    height: 533px;
  }
}