body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topBar {
  background-color: #292A2C;
  height: 44px;
  color: #D3DADC;
  padding: 13px 20px 13px 48px;
  font-size: 15px;
}

.topBarList {
  list-style: none outside;
}

.topBarLi {
  border-left: 2px black solid;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  position: relative;
  bottom: 14px;
}

.topBarSocialsList {
  list-style: none outside;
  border-left: 2px black solid;
  position: relative;
  left: 298px;
  bottom: 74px;
}

.topBarSocialsLi {
  display: inline-block;
  padding: 10px 10px 10px 5px;
  font-size: 16px;
}

.fa {
  color: gray;
}

.fa:hover {
  color: white;
  text-decoration: none;
}